@font-face {
  font-family: 'AvenirNextLTPro-UltLt';
  src: url("../fonts/Avenir/2B8518_3_0.eot");
  src: url("../fonts/Avenir/2B8518_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/2B8518_3_0.woff") format("woff"), url("../fonts/Avenir/2B8518_3_0.ttf") format("truetype"); }
@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url("../fonts/Avenir/2B8518_4_0.eot");
  src: url("../fonts/Avenir/2B8518_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/2B8518_4_0.woff") format("woff"), url("../fonts/Avenir/2B8518_4_0.ttf") format("truetype"); }
@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url("../fonts/Avenir/2B8518_1E_0.eot");
  src: url("../fonts/Avenir/2B8518_1E_0.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/2B8518_1E_0.woff") format("woff"), url("../fonts/Avenir/2B8518_1E_0.ttf") format("truetype"); }
@font-face {
  font-family: "ticks";
  src: url("../fonts/ticks.eot");
  src: url("../fonts/ticks.eot#iefix") format("embedded-opentype"), url("../fonts/ticks.woff") format("woff"), url("../fonts/ticks.ttf") format("truetype"), url("../fonts/ticks.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  width: 100%;
  position: absolute;
  top: 0;
  background: #FFF; }
  @media screen and (max-width: 667px) {
    html {
      overflow: hidden;
      bottom: 20px; } }

body {
  font-family: 'Avenir Next', 'Avenir', sans-serif;
  font-family: "AvenirNextLTPro-Regular", "Avenir Next", "Avenir", sans-serif;
  background: #FFF;
  width: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  font-size: 18px;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  overflow-y: scroll; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  white-space-collapsing: discard;
  -webkit-tap-highlight-color: transparent; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer;
  color: inherit; }
  a:visited {
    color: inherit; }
  a:hover {
    text-decoration: none; }

.signin-google {
  height: 40px;
  cursor: pointer; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 50px;
  background-image: url("../img/navicon.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }
  @media screen and (max-width: 667px) {
    .menu {
      display: none; } }

sharedsmall {
  width: 50px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center; }

info .sharing {
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px; }
info .face {
  display: block;
  border-bottom: 1px solid #EEE;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  height: 50px;
  line-height: 40px;
  -webkit-animation: yellow-fade 0.5s ease-in 1;
          animation: yellow-fade 0.5s ease-in 1; }
  info .face img {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px; }
  info .face:first-child {
    border-top: 1px solid #EEE; }
info .details {
  margin-bottom: 40px; }
info .remove {
  display: block;
  width: 30px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/ios7-close-outline.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  cursor: pointer; }
  info .remove:hover {
    opacity: 0.5; }
info .delete {
  font-size: 0.85em;
  background: #fdd7dd;
  color: #f75e75;
  text-align: center;
  padding: 10px;
  display: block;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-family: "AvenirNextLTPro-Medium", "Avenir Next", "Avenir", sans-serif;
  cursor: pointer; }
  info .delete:hover {
    background: #f75e75;
    color: #FFF; }
info .middle .title {
  font-size: 1.5em;
  font-family: "AvenirNextLTPro-Regular", "Avenir Next", "Avenir", sans-serif;
  position: relative;
  display: block; }
info .middle h2 {
  font-size: 0.75em;
  font-weight: normal;
  font-family: "AvenirNextLTPro-Medium", "Avenir Next", "Avenir", sans-serif;
  margin-bottom: 5px;
  text-transform: uppercase; }
info .middle input {
  margin-bottom: 10px;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  padding: 5px;
  font-family: "AvenirNextLTPro-Medium", "Avenir Next", "Avenir", sans-serif;
  font-size: 1em;
  border: 1px solid #EEE;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  outline: 0;
  -webkit-transition: border 0.1s ease-in-out;
          transition: border 0.1s ease-in-out; }
  info .middle input:focus {
    border: 1px solid #0074d9; }

.face img {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  overflow: hidden; }
  .face img img {
    width: 100%;
    height: 100%; }

.addshare {
  display: block;
  width: 40px;
  height: 50px;
  background-image: url("../img/ios-people.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  cursor: pointer;
  position: relative;
  left: 0px;
  -webkit-transition: left 0.15s ease-in-out;
          transition: left 0.15s ease-in-out; }
  body.share .addshare, body.hideMenu .addshare {
    left: -40px; }

.clear {
  clear: both; }

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  background: rgba(255, 255, 255, 0);
  display: none; }
  body.showMenu .cover {
    background: rgba(255, 255, 255, 0.5);
    pointer-events: auto; }
  @media screen and (max-width: 667px) {
    .cover {
      display: block; } }

#sidebar {
  position: fixed;
  -webkit-user-select: none;
  font-size: 0.75em;
  min-height: 100%;
  overflow: hidden;
  word-wrap: break-word;
  background: #FFF;
  padding-top: 50px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  width: 250px;
  border-right: 1px solid #EEE;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }
  body.moving #sidebar {
    -webkit-transition-duration: 0s;
            transition-duration: 0s; }
  @media screen and (max-width: 667px) {
    #sidebar {
      border-right: 0;
      width: 75%;
      font-size: 0.9em; } }
  body.showMenu #sidebar {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
    @media screen and (max-width: 667px) {
      body.showMenu #sidebar {
        border-right: 1px solid #EEE; } }
  #sidebar .panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    bottom: 0;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    background: #f8f8f8; }
    #sidebar .panel footer, #sidebar .panel header {
      position: absolute;
      display: block;
      text-align: center;
      bottom: 0;
      height: 50px;
      line-height: 50px;
      width: 100%;
      color: #999;
      font-size: 0.75em;
      text-align: center; }
    #sidebar .panel header {
      bottom: auto;
      top: 0; }
      #sidebar .panel header .title {
        position: absolute;
        height: 50px;
        line-height: 50px;
        top: 0;
        left: 50px;
        right: 50px;
        font-size: 1.25em;
        z-index: 0;
        color: #666; }
    @media screen and (max-width: 667px) {
      #sidebar .panel {
        width: 100%;
        border-right: 0;
        background: #f3f3f3; } }
    #sidebar .panel.settings {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); }
    #sidebar .panel.info {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0); }
    body.settings #sidebar .panel {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0); }
      body.settings #sidebar .panel.info {
        display: none; }
      body.settings #sidebar .panel.settings {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }
    body.info #sidebar .panel {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); }
      body.info #sidebar .panel.settings {
        display: none; }
      body.info #sidebar .panel.info {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }
    #sidebar .panel .middle {
      position: absolute;
      top: 50px;
      bottom: 50px;
      width: 100%; }
      #sidebar .panel .middle .row {
        padding: 20px;
        border-bottom: 1px solid #EEE; }
        #sidebar .panel .middle .row input {
          float: right; }
  #sidebar .close {
    cursor: pointer;
    width: 40px;
    height: 50px;
    background-image: url("../img/ios7-arrow-left.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; }
    #sidebar .close.cross {
      right: 0;
      position: absolute;
      background-image: url("../img/ios-close-empty.svg");
      background-size: 75%;
      opacity: 0.6; }
      @media screen and (max-width: 667px) {
        #sidebar .close.cross {
          display: none; } }
  #sidebar .newfile-button, #sidebar .setting-button {
    cursor: pointer;
    width: 40px;
    height: 50px;
    background-image: url("../img/ios-compose-outline.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat; }
  #sidebar .newfile-button {
    position: absolute;
    top: 0;
    right: 30px; }
    @media screen and (max-width: 667px) {
      #sidebar .newfile-button {
        right: 0px; } }
  #sidebar .setting-button {
    background-image: url("../img/ios7-settings.svg"); }
  #sidebar #tags, #sidebar #mentions {
    margin-top: 5px;
    margin-bottom: 20px; }
  #sidebar files {
    position: absolute;
    border-top: 1px solid #EEE;
    width: 100%;
    top: 50px;
    bottom: 50px;
    overflow: hidden;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch; }
    @media screen and (max-width: 667px) {
      #sidebar files {
        font-family: "AvenirNextLTPro-Medium", "Avenir Next", "Avenir", sans-serif; } }
    #sidebar files .file {
      padding-left: 15px;
      border: 0;
      outline: 0;
      border-bottom: 1px solid #EEE;
      cursor: pointer;
      min-height: 50px;
      line-height: 50px;
      position: relative;
      display: block;
      width: 100%; }
      @media screen and (max-width: 667px) {
        #sidebar files .file {
          min-height: 60px;
          line-height: 60px; } }
      #sidebar files .file span {
        position: relative;
        left: 0px;
        display: block;
        cursor: pointer;
        margin: 0;
        border: 0; }
      #sidebar files .file:hover {
        color: #333; }
      #sidebar files .file.active {
        background: #3d9970;
        color: #FFF;
        border-bottom: 1px solid #3d9970; }
        #sidebar files .file.active span {
          background: #3d9970; }
      #sidebar files .file.shared:after {
        content: '';
        position: absolute;
        display: block;
        right: 22px;
        top: 22px;
        width: 6px;
        height: 6px;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        background: #3d9970;
        background-size: 30%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5; }
        @media screen and (max-width: 667px) {
          #sidebar files .file.shared:after {
            top: 28px; } }
      #sidebar files .file.active.shared:after {
        display: none; }
      #sidebar files .file .info, #sidebar files .file .shared {
        cursor: pointer;
        content: '';
        position: absolute;
        top: 0px;
        float: right;
        right: 0px;
        width: 50px;
        height: 51px;
        background-image: url("../img/ios-information-outline.svg");
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
        display: block; }
        @media screen and (max-width: 667px) {
          #sidebar files .file .info, #sidebar files .file .shared {
            width: 60px;
            height: 61px; } }
        #sidebar files .file .info:hover, #sidebar files .file .shared:hover {
          opacity: 1; }
  #sidebar info .middle {
    padding: 20px; }

/* Sample */
.dropdown-menu {
  border: 1px solid #0074d9;
  overflow: hidden;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: white; }

.dropdown-menu li {
  padding: 2px 5px;
  padding: 5px;
  font-size: 0.75em; }

.dropdown-menu li:first-child {
  border-top: none; }

.dropdown-menu li:hover,
.dropdown-menu .active {
  background-color: #0074d9;
  color: #FFF; }

/* SHOULD not modify */
.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0; }

.dropdown-menu a:hover {
  cursor: pointer; }

.page {
  display: block;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  top: 0px;
  left: 0;
  right: 0; }
  body.moving .page {
    -webkit-transition-duration: 0s;
            transition-duration: 0s; }
  @media screen and (max-width: 667px) {
    .page {
      bottom: 0px;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); } }
  body.showMenu .page {
    left: 250px; }
    @media screen and (max-width: 667px) {
      body.showMenu .page {
        -webkit-transform: translate3d(75%, 0, 0);
                transform: translate3d(75%, 0, 0);
        left: 0; } }
  .page div {
    line-height: 30px; }
  .page #edit {
    margin: 0 auto;
    position: relative;
    outline: 0;
    padding: 0;
    -webkit-user-select: text;
    min-height: -webkit-calc(100% - 39px);
    min-height: calc(100% - 39px);
    overflow: visible;
    margin-bottom: 20px;
    line-height: 100%;
    display: block;
    width: 780px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px; }
    body.editing .page #edit {
      min-height: inherit; }
    @media screen and (max-width: 667px) {
      .page #edit {
        font-family: "AvenirNextLTPro-Medium", "Avenir Next", "Avenir", sans-serif;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
        padding-bottom: 40px;
        font-size: 0.85em; } }
    .page #edit.empty:before {
      font-family: "AvenirNextLTPro-Medium", "Avenir Next", "Avenir", sans-serif;
      z-index: -1;
      color: #CCC;
      display: block;
      position: absolute;
      content: 'Type here...';
      top: 4px;
      left: 10px; }
      @media screen and (max-width: 667px) {
        .page #edit.empty:before {
          left: 20px;
          top: 3px; } }
    .page #edit p {
      white-space: pre-wrap;
      word-wrap: initial;
      position: relative;
      padding: 0;
      margin: 0;
      line-height: 140%;
      overflow: visible; }
      .page #edit p .highlight {
        background: rgba(255, 255, 125, 0.99);
        -webkit-border-radius: 3px;
                border-radius: 3px; }
      .page #edit p .mark {
        cursor: pointer;
        position: relative;
        vertical-align: top;
        font-family: 'ticks';
        color: #3d9970;
        margin: 0;
        text-align: left; }
        @media screen and (max-width: 667px) {
          .page #edit p .mark {
            font-size: 1.4em;
            margin-left: -20px;
            padding-left: 20px; } }
        .page #edit p .mark.invalid {
          color: #f75e75; }
      .page #edit p.todo[data-id~='#done'], .page #edit p.todo[data-id~='#invalid'] {
        color: #CCC !important; }
        .page #edit p.todo[data-id~='#done'] .tag, .page #edit p.todo[data-id~='#invalid'] .tag {
          color: #CCC; }
          .page #edit p.todo[data-id~='#done'] .tag[data-id='#done'], .page #edit p.todo[data-id~='#invalid'] .tag[data-id='#done'] {
            color: #3d9970; }
          .page #edit p.todo[data-id~='#done'] .tag[data-id='#invalid'], .page #edit p.todo[data-id~='#invalid'] .tag[data-id='#invalid'] {
            color: #f75e75; }
        .page #edit p.todo[data-id~='#done'] .mention, .page #edit p.todo[data-id~='#invalid'] .mention {
          color: #CCC; }
        .page #edit p.todo[data-id~='#done'] .mark, .page #edit p.todo[data-id~='#invalid'] .mark {
          color: #CCC; }
      @media screen and (max-width: 667px) {
        .page #edit p.todo {
          padding-bottom: 3px;
          padding-top: 3px; } }
      .page #edit p.title {
        font-family: "AvenirNextLTPro-UltLt", "Avenir Next", "Avenir", sans-serif;
        font-size: 2.5em;
        padding-bottom: 20px;
        margin: 0;
        position: relative;
        line-height: 1em; }
        @media screen and (max-width: 667px) {
          .page #edit p.title {
            font-size: 1.5em;
            font-family: "AvenirNextLTPro-Regular", "Avenir Next", "Avenir", sans-serif;
            border-bottom: 1px solid #CCC;
            margin-bottom: 10px; } }
        .page #edit p.title.done {
          color: #666666 !important; }
    .page #edit p + p.title {
      padding-top: 20px; }

@-webkit-keyframes yellow-fade {
  0% {
    background: lightyellow;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

  100% {
    background: none;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes yellow-fade {
  0% {
    background: lightyellow;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

  100% {
    background: none;
    -webkit-transform: scale(1);
            transform: scale(1); } }
.blink {
  -webkit-animation: yellow-fade 0.25s ease-in 1;
          animation: yellow-fade 0.25s ease-in 1; }

::-moz-selection {
  background: rgba(255, 255, 125, 0.99);
  color: #032764; }

::selection {
  background: rgba(255, 255, 125, 0.99);
  color: #032764; }

#search {
  width: 50%;
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  left: 40px;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
  body.showMenu #search {
    -webkit-transform: translate3d(220px, 0, 0);
            transform: translate3d(220px, 0, 0); }
  #search select {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    font-size: 1.25em;
    border: 0;
    padding-left: 0px;
    font-family: "AvenirNextLTPro-Regular", "Avenir Next", "Avenir", sans-serif;
    font-weight: 300;
    outline: 0; }
  #search input {
    background: transparent; }
  @media screen and (max-width: 667px) {
    #search {
      display: none; }
      #search select {
        display: none; } }

.tag, .mention, .internal {
  font-family: "AvenirNextLTPro-Medium", "Avenir Next", "Avenir", sans-serif;
  color: #333;
  font-weight: 500;
  margin: 0;
  border: 0;
  outline: 0; }
  .tag[data-id='#done'], .mention[data-id='#done'], .internal[data-id='#done'] {
    color: #3d9970; }
  .tag[data-id='#invalid'], .mention[data-id='#invalid'], .internal[data-id='#invalid'] {
    color: #f75e75; }
  .tag[data-id='#bug'], .mention[data-id='#bug'], .internal[data-id='#bug'] {
    color: #f75e75; }
  .tag[data-id='#enhancement'], .mention[data-id='#enhancement'], .internal[data-id='#enhancement'] {
    color: #84b6eb; }
  .tag[data-id='#question'], .mention[data-id='#question'], .internal[data-id='#question'] {
    color: #cc317c; }

.internal {
  color: #3d9970;
  cursor: pointer; }
  .internal:hover {
    text-decoration: underline; }

.mention {
  color: #0074d9; }

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.3.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2014 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 25%;
  border: 1px solid #CCC;
  background: #fff;
  font-size: 0.75em; }

.chosen-container.chosen-with-drop .chosen-drop {
  left: 0; }

.chosen-container a {
  cursor: pointer; }

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, white), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, white), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), to(#f4f4f4));
  background: linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px; }

.chosen-container-single .chosen-default {
  color: #999; }

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px; }

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px; }

.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px; }

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px; }

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%; }

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("chosen-sprite.png") no-repeat 0px 2px; }

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap; }

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url("chosen-sprite.png") no-repeat 100% -20px;
  background: url("chosen-sprite.png") no-repeat 100% -20px;
  font-family: 'Avenir Next', sans-serif;
  line-height: normal;
  -webkit-border-radius: 0;
          border-radius: 0; }

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  background-clip: padding-box; }

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px; }

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch; }

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 8px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none; }

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer; }

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default; }

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  color: #fff; }

.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4; }

.chosen-container .chosen-results li.group-result {
  display: list-item;
  color: #CCC;
  cursor: default; }

.chosen-container .chosen-results li.group-option {
  padding-left: 15px; }

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline; }

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  font-family: 'Avenir Next', sans-serif;
  cursor: text; }

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none; }

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 0;
  padding: 0;
  height: 38px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #666;
  font-family: 'Avenir Next', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
  -webkit-border-radius: 0;
          border-radius: 0; }

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  border: 1px solid #CCC;
  height: 30px;
  line-height: 30px;
  max-width: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding-left: 10px;
  padding-right: 25px;
  margin-top: 5px;
  margin-right: 5px;
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  color: #333;
  cursor: default; }

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 10px;
  right: 4px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px; }

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eeeeee));
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666; }

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4; }

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px; }

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0; }

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default; }

/* @end */
/* @group Active  */
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, white));
  background-image: -webkit-linear-gradient(#eeeeee 20%, white 80%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eeeeee), color-stop(80%, white));
  background-image: linear-gradient(#eeeeee 20%, white 80%); }

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent; }

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px; }

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important; }

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default; }

.chosen-disabled .chosen-single {
  cursor: default; }

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default; }

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right; }

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0; }

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl; }

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px; }

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px; }

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px; }

.chosen-rtl .chosen-choices li {
  float: right; }

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl; }

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px; }

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px; }

.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px; }

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0; }

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0; }

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none; }

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url("chosen-sprite.png") no-repeat -30px -20px;
  background: url("chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl; }

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px; }

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px; }

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important; } }
/* @end */
/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */
/* Switchery defaults. */
.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  background-clip: content-box; }

.switchery > small {
  background: #fff;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px; }

/* Switchery sizes. */
.switchery-small {
  -webkit-border-radius: 20px;
          border-radius: 20px;
  height: 20px;
  width: 33px; }

.switchery-small > small {
  height: 20px;
  width: 20px; }

.switchery-large {
  -webkit-border-radius: 40px;
          border-radius: 40px;
  height: 40px;
  width: 66px; }

.switchery-large > small {
  height: 40px;
  width: 40px; }
