#sidebar{
	position:fixed;
	-webkit-user-select:none;
	font-size: 0.75em;
	min-height:100%;
	overflow:hidden;
	word-wrap: break-word;
	background:#FFF;
	padding-top:50px;
	z-index: 2;
	transition: transform 0.2s ease-in-out;
	width: 250px;
	border-right: 1px solid #EEE;
	transform: translate3d(-100%, 0, 0);

	body.moving &{
		transition-duration: 0s;
	}
	@media #{$mobile} {
		border-right:0;
		width:75%;
		font-size: 0.9em;
	}
	body.showMenu &{
		transform: translate3d(0,0,0);
		@media #{$mobile} {
			border-right:1px solid #EEE;
		}
	}

	.panel{
		footer, header{
			position:absolute;
			display:block;
			text-align: center;
			bottom:0;
			height:50px;
			line-height: 50px;
			width:100%;
			color:#999;
			font-size: 0.75em;
			text-align: center;
		}
		header{
			bottom:auto;
			top:0;
			.title{
				position:absolute;
				// width:100%;
				height:50px;
				line-height: 50px;
				top:0;
				left:50px;
				right:50px;
				font-size: 1.25em;
				z-index: 0;
				color:#666;
			}
		}
		position:absolute;
		top:0;
		left:0;
		width: 250px;
		bottom:0;
		// border-right: 1px solid #EEE;
		transition: all 0.2s ease-in-out;
		transform:translate3d(0, 0, 0);
		// background:lighten(#EEE, 4%);
		

		@media #{$mobile} {
			width:100%;
			border-right: 0;
			background:lighten(#EEE, 2%);
		}


		&.settings{
			transform:translate3d(-100%, 0, 0);
		}
		&.info{
			transform:translate3d(100%, 0, 0);
		}
		
		body.settings &{
			transform:translate3d(100%, 0, 0);
			&.info{
				display:none;
			}
			&.settings{
				transform:translate3d(0, 0, 0);
			}
		}
		body.info &{
			transform:translate3d(-100%, 0, 0);
			&.settings{
				display:none;
			}
			&.info{
				transform:translate3d(0, 0, 0);
			}
		}
		.middle{
			position:absolute;
			top:50px;
			bottom:50px;
			width:100%;
			.row{
				padding:20px;
				border-bottom: 1px solid #EEE;
				input{
					float:right;
				}
			}
		}
	}
	.close{
		cursor:pointer;
		width:40px;
		height:50px;
		background-image: url('../img/ios7-arrow-left.svg');
		background-size: 50%;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 1;
		&.cross{
			right:0;
			position:absolute;
			background-image: url('../img/ios-close-empty.svg');
			background-size: 75%;
			opacity:0.6;
			@media #{$mobile} {
				display:none;
			}
		}
	}
	.newfile-button, .setting-button{
			cursor:pointer;
			width:40px;
			height:50px;
			
			background-image: url('../img/ios-compose-outline.svg');
			background-size: 50%;
			background-position: center;
			background-repeat: no-repeat;
	}
	.newfile-button{
		// float:right;
		position:absolute;
		top:0;
		right:30px;
		@media #{$mobile} {
			right:0px;
		}
	}
	.setting-button{
		background-image: url('../img/ios7-settings.svg');
	}
	#tags, #mentions{
		margin-top: 5px;
		margin-bottom: 20px;
	}
	files{
		position:absolute;
		border-top:1px solid #EEE;
		// border-bottom:1px solid #EEE;
		width:100%;
		top:50px;
		bottom:50px;
		overflow:hidden;
		overflow-y: scroll; /* has to be scroll, not auto */
		-webkit-overflow-scrolling: touch;

		@media #{$mobile} {
			font-family: $medium;
		}

		.file{
			padding-left:15px;
			border:0;
			outline:0;
			border-bottom:1px solid #EEE;
			cursor:pointer;
			min-height: 50px;
			line-height: 50px;
			position:relative;
			display:block;
			width:100%;
			@media #{$mobile} {
				min-height: 60px;
				line-height: 60px;
			}
			span{
				position:relative;
				left:0px;
				display:block;
				cursor:pointer;
				margin:0;
				border:0;
			}
			&:hover{
				color:#333;
			}
			&.active{
				background:$olive;
				color:#FFF;
				border-bottom:1px solid $olive;
				span{
					background:$olive;
				}
			}
			&.shared{
				&:after{
					content:'';
					position:absolute;
					display:block;
					right:22px;
					top:22px;
					width:6px;
					height:6px;
					border-radius:4px;
					background:$olive;
					background-size: 30%;
					background-position: center;
					background-repeat: no-repeat;
					opacity:0.5;
					@media #{$mobile} {
						top:28px;
					}
				}
			}
			&.active.shared:after{
				display:none;
			}
			.info, .shared{
				cursor:pointer;
				content:'';
				position:absolute;
				top:0px;
				float: right;
				right:0px;
				width:50px;
				height:51px;
				background-image: url('../img/ios-information-outline.svg');
				background-size: 40%;
				background-position: center;
				background-repeat: no-repeat;
				opacity:0.5;
				display:block;
				@media #{$mobile} {
					width:60px;
					height:61px;
				}
				&:hover{
					opacity:1;

				}
			}

		}
	}
	info{
		.middle{
			padding:20px;
		}
	}


}

/* Sample */

.dropdown-menu {
    border: 1px solid $blue;
    overflow:hidden;
    border-radius: 3px;
    background-color: white;
}

.dropdown-menu li {
    padding: 2px 5px;
    padding:5px;
    font-size: 0.75em;
}

.dropdown-menu li:first-child {
    border-top: none;
}

.dropdown-menu li:hover,
.dropdown-menu .active {
    background-color: $blue;
    color:#FFF;
}


/* SHOULD not modify */

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu a:hover {
    cursor: pointer;
}

